p{
 font-family: 'Merriweather', serif;
    font-size:16px;
}
h1,h2,h3,h4,h5{
 font-family: 'Lato', sans-serif;
}

.utama
{
    background-color: #4d6f91;
}

.header
{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #ffffff;
}

.main
{
    background-color: #ffffff;
}

#navi
{
    background-color: red;
}

.navi
{
    background-color: #35ace1;
    color: #f7efef;
    padding: 10px;
}

.footer
{
    background-color: #3e3838;
    color: #adc1b3;
    padding: 10px;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}

