

.hidden
{
    opacity: 0;
}

.visible
{
    opacity: 1;
}

.header-hosting
{
    background-image: url('images/background.jpg');
    height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    color: #f7f6f1;
    display: flex;
}

.panel-pricing
{
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.panel-pricing:hover
{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.panel-pricing .panel-heading
{
    padding: 20px 10px;
}

.panel-pricing .panel-heading .fa
{
    margin-top: 10px;
    font-size: 58px;
}

.panel-pricing .list-group-item
{
    color: #777777;
    border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.panel-pricing .list-group-item:last-child
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel-pricing .list-group-item:first-child
{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.panel-pricing .panel-body
{
    background-color: #f0f0f0;
    font-size: 20px;
    color: #777777;
    padding: 20px;
    margin: 0px;
}

.team-hosting
{
    background-color: #40aef7;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.hosting-social
{
    color: #6cb4fb;
    padding: 20px;
}

.hosting-footer
{
    background-color: #194695;
    color: #f7e8e8;
    margin-top: 20px;
    padding: 20px;
}

