

body
{
    background-color: #1A1A1A;
    font-family: 'Ledger', serif;
}

a
{
    color: #eb502b;
}

a:hover
h1,h2,h3,h4,h5
{
    font-family: 'Patua One', cursive;
}

.main
{
    background-color: #464444;
}

.main-content
{
    background-color: #595959;
    color: #b8b8bb;
    padding: 0px;
}

.sidebar
{
    color: #eb502b;
}

.sidebar h2,h3,h4,h5
{
    text-transform: capitalize;
}

.article
{
    margin: 50px;
}

@media (max-width:767px)
{
    .hideside
    {
        display: none;
    }
    .title
    {
        text-align: center;
    }
}

.header
{
    margin-bottom: 15px;
    border-bottom: 10px solid #eb502b;
    color: #eb502b;
}

.footer
{
    background-color: #4c4c49;
    color: #9b9b9b;
}

